<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" fxLayoutAlign="space-between center"
         fxLayout="row">
        <div fxLayout="row">
            <div *ngIf="!loginService.isUserLoggedIn()" class="navbar-brand">Auto-Supplier</div>
            <ul class="navbar-nav">
                <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">Home</a></li>
                <li><a *ngIf="loginService.isAdmin()" routerLink="/users" class="nav-link">Add User</a></li>
                <li><a *ngIf="loginService.isAdmin()" routerLink="/brands" class="nav-link">Add Brand</a></li>
                <li><a *ngIf="loginService.isAdmin()" routerLink="/add-model" class="nav-link">Add Model</a></li>
                <li><a *ngIf="loginService.isAdmin()" routerLink="/add-variant" class="nav-link">Add Variant</a></li>
                <li><a *ngIf="loginService.isAdmin()" routerLink="/add-part" class="nav-link">Add Part</a></li>
            </ul>
        </div>
        <ul class="navbar-nav">
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
</header>
