<div class="add-user-form" fxLayout="column" fxLayoutAlign="space-evenly start">
  <h2 class="add-user-form-element">Add New Part</h2>
  <form [formGroup]="addPartForm" (ngSubmit)="createPart()">

    <div class="add-user-form-element">
      <select class="custom-select" (change)="changeBrand($event)" formControlName="brand"
              [ngClass]="{ 'is-invalid': submitted && f.brand.errors }">
        <option value="">Choose Brand</option>
        <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
      </select>
      <div *ngIf="submitted && f.brand.errors" class="invalid-feedback">
        <div *ngIf="f.brand.errors.required">Brand is required</div>
      </div>
    </div>

    <div class="add-user-form-element">
      <select class="custom-select" (change)="changeModel($event)" formControlName="modelId"
              [ngClass]="{ 'is-invalid': submitted && f.modelId.errors }">
        <option value="">Choose Model</option>
        <option *ngFor="let model of models" [value]="model.id">{{model.name}}</option>
      </select>
      <div *ngIf="submitted && f.modelId.errors" class="invalid-feedback">
        <div *ngIf="f.modelId.errors.required">Model is required</div>
      </div>
    </div>

    <div class="add-user-form-element">
      <select class="custom-select" (change)="changeVariant($event)" formControlName="variantId"
              [ngClass]="{ 'is-invalid': submitted && f.variantId.errors }">
        <option value="">Choose Variant</option>
        <option *ngFor="let variant of variants" [value]="variant.id">{{variant.code}}</option>
      </select>
      <div *ngIf="submitted && f.variantId.errors" class="invalid-feedback">
        <div *ngIf="f.variantId.errors.required">Variant is required</div>
      </div>
    </div>

    <div class="add-user-form-element">
      <label>Name </label>
      <input type="text" formControlName="name" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>

    <div class="add-user-form-element">
      <label>Code </label>
      <input type="text" formControlName="code" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.code.errors }"/>
      <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
        <div *ngIf="f.code.errors.required">Code is required</div>
      </div>
    </div>

    <div class="add-user-form-element">
      <label>Description </label>
      <input type="text" formControlName="description" class="form-control"/>
    </div>

    <div class="add-user-form-element">
      <button class="btn btn-success" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Add
      </button>
    </div>
  </form>
</div>
