.add-user-form {
    margin: 20px 0px 0px 200px;
    display: flex;
    padding: 20px;
}
.add-user-form-element {
    margin: 20px;
    text-align: start;
}

.add-user-form-element input {
    width: 400px;
}

.add-user-form-element button {
    width: 150px;
}
