.toyota-dashboard-container {
    display: flex;
    margin: 40px;
    padding: 20px;
}

.toyota-dashboard-container-element {
    margin: 20px 0px 20px 0px;
}

.toyota-dashboard-container-element {

}

.text-label {
    font-size: 2rem;
    font-weight: 200;
    margin-left: 20px;
}
