<div class="toyota-dashboard-container" fxLayout="row wrap" fxLayoutAlign="spave-evenly centre"
     fxLayoutGap="150px">
    <div class="toyota-dashboard-container-element">
        <a>
            <img [routerLink]="['/toyota-innova']"
                 src="../../assets/images/auto-brands/toyota/innova.png"/>
        </a>
        <div class="text-label">Innova</div>
    </div>
    <div class="toyota-dashboard-container-element">
        <a>
            <img [routerLink]="['/toyota-fortunner']"
                 src="../../assets/images/auto-brands/toyota/fortunner.png"/>
        </a>
        <div class="text-label">Fortunner</div>
    </div>
    <div class="toyota-dashboard-container-element">
        <a>
            <img [routerLink]="['/toyota-innova']"
                 src="../../assets/images/auto-brands/toyota/camry.png"/>
        </a>
        <div class="text-label">Camry</div>
    </div>
    <div class="toyota-dashboard-container-element">
        <a>
            <img [routerLink]="['/toyota-innova']"
                 src="../../assets/images/auto-brands/toyota/yaris.png"/>
        </a>
        <div class="text-label">Yaris</div>
    </div>
    <div class="toyota-dashboard-container-element">
        <a>
            <img [routerLink]="['/toyota-innova']"
                 src="../../assets/images/auto-brands/toyota/etios.png"/>
        </a>
      <div class="text-label">Etios</div>
    </div>
    <div class="toyota-dashboard-container-element">
        <a>
            <img [routerLink]="['/toyota-innova']"
                 src="../../assets/images/auto-brands/toyota/altis.png"/>
        </a>
      <div class="text-label">Altis</div>
    </div>
    <div class="toyota-dashboard-container-element">
        <a>
            <img [routerLink]="['/toyota-innova']"
                 src="../../assets/images/auto-brands/toyota/liva-cross.png"/>
        </a>
      <div class="text-label">Liva-cross</div>
    </div>
    <div class="toyota-dashboard-container-element">
        <a>
            <img [routerLink]="['/toyota-innova']"
                 src="../../assets/images/auto-brands/toyota/glanza.png"/>
        </a>
      <div class="text-label">Glanza</div>
    </div>
</div>
