$black: #000000;
$gray1: #363636;
$gray2: #636363;
$gray3: #767676;
$gray4: #969696;
$gray5: #B0B0B0;
$gray6: #CCCCCC;
$gray7: #D7D7D7;
$gray8: #DDDDDD;
$gray9: #E1E1E1;
$gray10: #F2F2F2;
$gray11: #EFDFDE;
$gray12: #B0B0B0;
$gray13: #57C0E0;
$gray14: #F7F7F7;
$gray15: #F0F6F8;
$gray16: #ECECEC;
$white: #FFFFFF;
$blue1: #ACD4ED;
$blue2: #0076CB;
$blue3: #00679E;
$blue4: #1823E1;
$blue5: #363D9F;
$blue6: #4553B4;
$blue7: #009CE3;
$blue8: #199DE0;
$blue9: #186ba0;
$blue10: #1B9EE0;
$blue11: #47B1E6;
$red1: #C11616;
$red2: #BB271A;
$red3: #DB524B;
$red4: #CB0404;
$yellow1: #FF9900;
$yellow2: #F0AB00;
$green1: #1B8C04;
$green2: #089812;
$shadow1: rgba(157,157,157,0.5)
