<div class="add-user-form" fxLayout="column" fxLayoutAlign="space-evenly start">
    <h2 class="add-user-form-element">Add New User</h2>
    <form [formGroup]="addUserForm" (ngSubmit)="createUser()">
        <div class="add-user-form-element">
            <label>Username </label>
            <input type="text" formControlName="username" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Name is required</div>
            </div>
        </div>

        <div class="add-user-form-element">
            <label>First Name</label>
            <input type="text" formControlName="fname" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"/>
            <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                <div *ngIf="f.fname.errors.required">First Name id is required</div>
            </div>
        </div>

        <div class="add-user-form-element">
            <label>Last Name</label>
            <input type="text" formControlName="lname" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"/>
            <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                <div *ngIf="f.lname.errors.required">Last Name id is required</div>
            </div>
        </div>

        <div class="add-user-form-element">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>

        <div class="add-user-form-element">
            <button class="btn btn-success" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Create
            </button>
        </div>
    </form>
</div>
