<div class="dashboard-container" fxLayout="row wrap" fxLayoutAlign="spave-evenly centre" fxLayoutGap="150px">
  <div class="dashboard-element" (click)="toyotaLogoClicked()">
    <a>
      <img  src="./assets/images/toyota-logo.png"  />
    </a>
  </div>
  <div class="dashboard-element" (click)="marutiLogoClicked()">
    <a>
      <img  src="./assets/images/maruti-logo.png"  />
    </a>
  </div>
  <div class="dashboard-element">
    <a>
      <img  src="./assets/images/hyundi-logo.png"  />
    </a>
  </div>
  <div class="dashboard-element">
    <a>
      <img  src="./assets/images/mahindra-logo.png"  />
    </a>
  </div>
</div>
